# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore
!.terraformrc
!.tfenv
!.profile
!.tmux.conf
!.zshrc
!.config/
!.config/zsh/
!.config/zsh/rc.d/
!.config/zsh/rc.d/*.zsh
!/.ssh/config
!.fzf.zsh
!.extrabindirs
!README.md

